
/* 
    Created on : Sep 3, 2018, 1:13:47 AM
    Author     : Jonas Okwara
    Date       : 09-10-15
*/


h1{
color: #OOOOOO;
text-align: center;
font-family: Georgia;
font-weight: bold;
font-size: 20pt;
padding: 4px;
width: 45px;
text-decoration: none;
}

h2{
font-family: Georgia;
font-size: 8px;
padding-top: -24px;
padding-bottom: -24px;
}


h3{
color: #0066CC;	
text-align: right;
font-size: 16px;
font-family: "Times New Roman", "Georgia", "Arial";	
} 


h4{
font-family: "Times New Roman", "Georgia", "Verdana", "Arial";
font-size: 10pt;    
font-weight: normal;
text-decoration:none;
margin-left:6px;
text-align: left;
}

h5{
margin-left: 20px; 
text-align: left;
font-family: "Times New Roman", "Georgia", "Verdana", "Arial"; 
font-size: 12px;    
font-weight: normal;  
color: white;
text-decoration: none;
}


h6{
padding-left: 30px;
font-family: "Times New Roman", "Georgia", "Verdana", "Arial"; 
font-size: 12pt;
color: navy;
font-weight: normal;
text-decoration: none;
}

h7{
margin-left: 15px;
font-family: Georgia;
font-size: 11px;    
font-weight: bold;  
color: white;
}

h8{
padding-left: 30px;
font-family: "Times New Roman", "Georgia", "Verdana", "Arial"; 
font-size: 11pt;
color: #FFFFFF;
font-weight: normal;
text-align: left;
}

h9{
padding-left: 30px;
font-family: "Times New Roman", "Georgia", "Verdana", "Arial"; 
font-size: 11pt;
color: navy;
font-weight: normal;
text-align: center;
}


h10{
padding-left: 4px;
font-family: "Times New Roman", "Georgia", "Verdana", "Arial"; 
font-size: 14px;
color: #FFFFFF;
font-weight: normal;
text-align: left;	
}

h11{
padding-left: 4px;
font-family: "Times New Roman", "Georgia", "Verdana", "Arial"; 
font-size: 14px;
color: #FFFFFF;
font-weight: normal;
text-align: right;	
}

h12{
padding-left: 4px;
font-family: "Times New Roman", "Georgia", "Verdana", "Arial"; 
font-size: 20px;
font-weight: bold;
color: red;
}


myFooter{
margin-left: auto;
margin-right: auto; 
text-align: middle;
font-family: "Times New Roman", "Georgia", "Verdana", "Arial"; 
font-size: 12px;    
font-weight: normal;  
}


th, td{
font-family: "Times New Roman", "Georgia", "Verdana", "Arial"; 
font-size: 10pt;
font-weight: normal;
text-align: left;
}

.login-panel-header-title{
text-align: right;
font-family: Georgia;
font-size: 14px;
padding-top: 16px;
padding-bottom: 14px;
}

.select1, .select2, .select3, .select4, .select5, .select6{
font-family: "Times New Roman", "Georgia", "Verdana", "Arial"; 
font-size: 12pt;
font-weight: normal;
}

option{
font-family: "Times New Roman", "Georgia", "Verdana", "Arial"; 
font-size: 12px;
font-weight: normal;	
}

.btn-primary{
font-family: "Times New Roman", "Georgia", "Verdana", "Arial"; 
font-size: 12px;
font-weight: normal;
}


#alertTable tr{
font-family: "Times New Roman", "Georgia", "Verdana", "Arial"; 
font-size: 12px;
font-weight: bold;
text-align: left;
}

tr{
font-family:Verdana;
font-type: 14px;
font-weight: bold;
}

.message{
text-align: center;	
}
